/* BoardAdmin.css */

.admin-dashboard-container {
    margin-top: 50px;
  }
  
  .admin-dashboard-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .admin-dashboard-header {
    text-align: center;
  }
  
  .admin-dropdown-form {
    margin-top: 20px;
  }
  
  /* Add padding to the select element */
  .admin-dropdown-form select {
    padding: 8px; /* Adjust as needed */
    width: 100%; /* Ensure the select takes full width */
  }
  
  /* Additional styling can be added as needed */
  