.device-form-container {
  background-color: rgba(255, 255, 255, 0.8); /* 80% opacity white */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.device-form-container h2 {
  color: #333;
  margin-bottom: 20px;
}

.device-table-container {
  background-color: rgba(255, 255, 255, 0.8); /* 80% opacity white */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.device-table-container h2 {
  color: #333;
  margin-bottom: 20px;
}

.selected-device-details {
  background-color: rgba(255, 255, 255, 0.8); /* 80% opacity white */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.selected-device-details h3 {
  color: #333;
  margin-bottom: 10px;
}
