/* External CSS for Login Component */

.card-container {
  max-width: 350px; /* Reduced max-width */
  margin: 50px auto; /* Adjust margin to create space */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
  background-color: #fff;
}

.profile-img-card {
  width: 80px; /* Reduced profile picture size */
  height: 80px; /* Reduced profile picture size */
  margin: 0 auto 20px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to profile picture */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background-color: #f8f9fa; /* Light gray background */
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-block {
  display: block;
  width: 100%;
}

.alert {
  margin-top: 10px;
  border-radius: 5px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
}

.text-center {
  text-align: center;
}

.navbar-custom {
  background-color: #273849; /* Match the color with login/register */
}


